/* CSS personalizado */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.sidebar {
    width: 250px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #333;
    padding-top: 20px;
}

.main-content {
    margin-left: 250px;
    padding-left: 20px;
}

#titulo {
    text-align: left;
    margin-top: 30px;
}

h2 {
    margin-bottom: 10px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 15px;
    margin-top: 20px;
}

.col-md-6 {
    flex: 0 0 calc(50% - 20px);
    margin-bottom: 10px;
}

.col-md-6:last-child {
    margin-right: 0;
}

label {
    font-weight: bold;
    margin-bottom: 5px;
}

input[type="text"],
input[type="number"],
input[type="date"],
select {
    width: calc(100% - 20px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    margin-top: 5px;
    margin-bottom: 20px;
}

.col-12 {
    text-align: center;
}

.btn {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-right: 10px;
}

.btn-volver {
    background-color: #007bff;
    color: white;
}

.btn-agregar {
    background-color: rgb(34, 160, 34);
    color: white;
}

.btn-lista {
    background-color: #007bff;
    color: white;
}

@media screen and (max-width: 768px) {
    .container {
        padding: 10px;
    }

    .col-md-6 {
        flex: 0 0 calc(50% - 20px);
    }

    .col-md-6:last-child {
        margin-right: 0;
    }

    label,
    input[type="text"],
    input[type="number"],
    input[type="date"],
    select {
        width: 100%;
    }

    #titulo {
        margin-left: 0;
    }
}