body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.sidebar {
    width: 250px;
    height: 100%;
    background-color: #333;
    position: fixed;
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding-top: 20px;
}

.content {
    margin-left: 250px; /* Ajuste para dejar espacio para la barra lateral */
    padding: 20px;
}

.header {
    background-color: #f0f0f0;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.header h1 {
    margin: 0;
}

.header form {
    display: flex;
    align-items: wrap;
    justify-content: space-between;
}

.filter-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 20px;
}

.filter-group {
    margin-right: 20px;
    margin-bottom: 20px;
}

.filter-actions {
    display: flex;
    justify-content: flex-end; /* Alinea los botones a la derecha */
    margin-top: 20px;
}

.filter-group {
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.filter-group>* {
    margin-right: 10px;
}

.filter-input {
    width: 200px;
}

.btn-apply-filters,
.btn-clear-filters {
    margin-top: 10px;
}

.btn-apply-filters {
    background-color: blue;
    color: white;
}

.btn-clear-filters {
    background-color: grey;
    color: white;
}

#clientes-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px; /* Agrega margen superior para separar la tabla del formulario */
}

#clientes-table th,
#clientes-table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

#clientes-table th {
    background-color: #f0f0f0;
}
