/* Variables */
:root {
    --primary-color: #f0f0f0;
    --secondary-color: #ddd;
    --accent-color: blue;
}

/* Global Styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

.content {
    margin-left: 250px;
    padding: 20px;
}

.header {
    background-color: var(--primary-color);
    padding: 10px;
    border-bottom: 1px solid var(--secondary-color);
}

.header h1 {
    margin: 0;
}

.filter-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.filter-group {
    flex: 1 0 30%;
    margin-bottom: 10px;
}

.filter-input {
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
}

.filter-actions {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin-top: 10px;
}

.filter-actions button {
    margin-left: 5px;
    padding: 8px 12px;
    /* Ajuste del padding para reducir el tamaño de los botones */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
}

.btn-apply-filters,
.btn-clear-filters,
.btn-add-product {
    background-color: var(--accent-color);
    color: white;
}

.btn-delete {
    background-color: red;
    color: white;
}

/* Agregar colores de fila alternos */
#productos-table tbody tr:nth-child(even) {
    background-color: #f0f0f0;
}

#productos-table tbody tr:nth-child(odd) {
    background-color: #ccc;
}

#productos-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

#productos-table th,
#productos-table td {
    border: 1px solid var(--secondary-color);
    padding: 8px;
    text-align: left;
}

#productos-table th {
    background-color: var(--primary-color);
}

/* Estilos para los iconos */
.icon-container {
    display: flex;
}

.icon {
    margin-right: 5px;
}