body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.content {
    margin-left: 250px;
    /* Mismo ancho que la barra lateral */
    padding: 20px;
}

.header {
    background-color: #f0f0f0;
    padding: 10px;
    border-bottom: 1px solid #ddd;
   
}

.header h1 {
    margin: 0;
}

.header form {
    display: flex;
    align-items: wrap;
}


.header form label {
    margin-right: 10px;
}


.header form button {
    margin-right: 10px;
}

#clientes-table {
    width: 100%;
    border-collapse: collapse;
}

#clientes-table th,
#clientes-table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

#clientes-table th {
    background-color: #f0f0f0;
}

.filter-group {
    display: flex;
    align-items: center;
}

.filter-group>* {
    margin-right: 10px;
}

.btn-apply-filters {
    background-color: blue;
    color: white;
}

.btn-clear-filters {
    background-color: grey;
    color: white;
}