/* Variables */
:root {
    --primary-color: #f0f0f0;/* Define el color principal */
    --secondary-color: #ddd;/* Define el color secundario */
    --accent-color: blue;/* Define el color de acento */
}

/* Global Styles */
* {
    box-sizing: border-box; /* Establece la caja de modelo de borde para todos los elementos */
    margin: 0; /* Elimina el margen predeterminado */
    padding: 0; /* Elimina el relleno predeterminado */
}

body {
    font-family: Arial, sans-serif; /* Establece la fuente del cuerpo */
    background-color: #f0f0f0; /* Establece el color de fondo del cuerpo */
}

.content {
    margin-left: 250px; /* Establece el margen izquierdo del contenido */
    padding: 20px; /* Establece el relleno del contenido */
}

.header {
    background-color: var(--primary-color); /* Establece el color de fondo del encabezado utilizando la variable --primary-color */
    padding: 10px; /* Establece el relleno del encabezado */
    border-bottom: 1px solid var(--secondary-color); /* Establece un borde inferior utilizando la variable --secondary-color */
}

.header h1 {
    margin: 0; /* Elimina el margen superior e inferior del título */
}

.filter-row {
    display: flex; /* Establece la visualización flexible para la fila de filtros */
    justify-content: space-between; /* Distribuye uniformemente los elementos a lo largo del contenedor */
    align-items: center; /* Centra verticalmente los elementos */
    flex-wrap: wrap; /* Permite que los elementos se envuelvan si no caben en una línea */
}

.filter-group {
    flex: 1 0 30%; /* Establece la flexibilidad de los elementos de grupo de filtro */
    margin-bottom: 10px; /* Establece un margen inferior */
}

.filter-label {
    display: block; /* Establece los elementos de etiqueta de filtro como bloques */
    margin-bottom: 5px;/* Establece un margen inferior */
}

.filter-input {
    width: 100%;
    /* Establece el ancho al 100% */
    padding: 5px;
    /* Establece el relleno */
    box-sizing: border-box;
    /* Incluye el relleno y el borde en el ancho total */
}

.input-container {
    margin-top: 5px;
    /* Establece un margen superior */
    display: flex;
    /* Establece la visualización flexible para el contenedor de entrada */
    justify-content: space-between;
    /* Distribuye uniformemente los elementos a lo largo del contenedor */
}

.filter-actions {
    display: flex;
    /* Establece la visualización flexible para el contenedor de acciones de filtro */
    flex-wrap: wrap;
    /* Permite que los elementos se envuelvan si no caben en una línea */
    justify-content: flex-end;
    /* Alinea las acciones de filtro al final del contenedor */
    margin-top: 10px;
    /* Establece un margen superior */
}

.filter-actions button {
    margin-left: 10px;
    /* Establece un margen izquierdo */
}

.filter-select {
    width: 100%;
    /* Establece el ancho al 100% */
    padding: 5px;
    /* Establece el relleno */
    box-sizing: border-box;
    /* Incluye el relleno y el borde en el ancho total */
}

.btn {
    padding: 10px 20px;
    /* Establece el relleno */
    border: none;
    /* Elimina el borde */
    border-radius: 5px;
    /* Establece un borde redondeado */
    cursor: pointer;
    /* Cambia el cursor al pasar el ratón */
}

.btn-apply-filters,
.btn-edit,
.btn-activate,
.btn-deactivate,
.btn-delete {
    background-color: var(--accent-color);
    /* Establece el color de fondo utilizando la variable --accent-color */
    color: white;
    /* Establece el color del texto */
}

.btn-clear-filters {
    background-color: #666;
    /* Establece el color de fondo del botón Limpiar Filtros */
    color: white;
    /* Establece el color del texto */
}

/* Agregar colores de fila alternos */
#clientes-table tbody tr:nth-child(even) {
    background-color: #f0f0f0;
    /* Establece el color de fondo para las filas pares de la tabla */
}

#clientes-table tbody tr:nth-child(odd) {
    background-color: #ccc;
    /* Establece el color de fondo para las filas impares de la tabla */
}

#clientes-table {
    width: 100%;
    /* Establece el ancho de la tabla al 100% */
    border-collapse: collapse;
    /* Combina los bordes de las celdas */
}

#clientes-table th,
#clientes-table td {
    border: 1px solid var(--secondary-color);
    /* Establece un borde */
    padding: 10px;
    /* Establece el relleno */
    text-align: left;
    /* Alinea el texto a la izquierda */
}

#clientes-table th {
    background-color: var(--primary-color);
    /* Establece el color de fondo del encabezado de la tabla utilizando la variable --primary-color */
}

/* Modificaciones para pantallas pequeñas */
@media screen and (max-width: 768px) {
    .content {
        margin-left: 0;
        /* Elimina el margen izquierdo */
    }

    .filter-group {
        flex: 1 0 100%;
        /* Establece la flexibilidad al 100% para los grupos de filtro en pantallas pequeñas */
    }

    .filter-actions {
        flex-direction: column;
        /* Cambia la dirección del eje principal a columna */
        align-items: flex-end;
        /* Alinea los elementos al final del contenedor */
    }

    .filter-actions button {
        margin-left: 0;
        /* Elimina el margen izquierdo */
        margin-top: 5px;
        /* Establece un margen superior */
    }

    .btn {
        padding: 5px 10px;
        /* Establece el relleno */
        border: none;
        /* Elimina el borde */
        border-radius: 5px;
        /* Establece un borde redondeado */
        cursor: pointer;
        /* Cambia el cursor al pasar el ratón */
    }

    .btn-edit,
    .btn-activate,
    .btn-deactivate,
    .btn-delete {
        background-color: #2E86C1;
        /* Establece un color de fondo para los botones de acción */
        color: white;
        /* Establece el color del texto */
    }
}